[Unit]
Description=Lock screen with slock before sleep
Before=sleep.target

[Service]
Type=simple
ExecStart=/usr/bin/env DISPLAY=:0 /usr/local/bin/slock

[Install]
WantedBy=sleep.target
