# Compiled files
*.o
*.so
*.a

# Rejected patches
*.rej

# Backup and temporary files
*~
*.swp
*.tmp
*.bak
*.orig

# Editor caches
.netrwhist
tags
Session.vim

# Divers
.DS_Store
*.log

# Ignores the .git.bak folders anywhere in the repository
**/.git*/
